/* My Work */

/* 여백 공간 */
.myWorkSpacer {
  height: 120vh;
}

/* My Work */
.myWorkSection {
  height: 500vh;

  position: relative;
}

.myWorkTitle {
  position: sticky;

  top: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: transparent;
}

.workSvg {
  width: 70vw;
  pointer-events: none;
  overflow: visible;
}

.workSvg text {
  fill: white;

  font-size: 220px;

  font-weight: 700;

  letter-spacing: -0.08em;

  font-family: sans-serif;
}
